<div class="bg-yellow-500 p-14 flex flex-col gap-8 md:flex-row items-center">
    <h2 class="font-bold text-4xl">
        Documentos de Colaboración Técnica PIFCSS-UNV
    </h2>

    <button
        class="flex bg-white text-black pl-4 pr-1 py-1 mt-10 md:pt-0 text-2xl rounded-l-full rounded-r-full"
        type="button"
    >
        Ver detalles
        <span
            class="rounded-l-full rounded-r-full w-14 justify-center inline-flex bg-blue-500 p-1 items-center ml-4"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
        </span>
    </button>
</div>
