---
import IconsFooter from "./IconsFooter.astro";
import { Image } from "astro:assets";
import onu from "../assets/Onu.png";
---

<header
    class="flex justify-between flex-row-reverse items-center px-14 py-14 h-[80px] bg-blue-500"
>
    <div class="relative">
        <div
            class="absolute right-1 -top-18 rounded-full bg-yellow-500 px-4 py-2"
        >
            <button class="text-black"> Contáctenos! </button>
        </div>
    </div>

    <div class="flex flex-col gap-4 md:flex-row md:gap-8">
        <div class="flex gap-8 items-center">
            <!-- Icono -->
            <div class="relative">
                <Image src={onu} alt="Logo ONU" width={40} />
            </div>
            <!-- Texto -->
            <div class="w-[100px]">
                <h2 class="text-white font-bold">VOLUNTARIOS ONU</h2>
            </div>

            <!-- Iconos -->
            <IconsFooter />
        </div>

        <div class="flex gap-4 items-center pt-2">
            <!-- Icono -->
            <div class="relative">
                <div
                    class="inline-block w-8 h-8 border-8 border-t-white border-r-transparent border-b-transparent border-l-white rounded-full"
                >
                </div>
                <div
                    class="inline-block absolute left-3 -top-2 w-8 h-8 border-8 border-t-transparent border-r-white border-b-white border-l-transparent rounded-full"
                >
                </div>
            </div>

            <!-- Texto -->
            <h2 class="text-white text-2xl font-bold">PIFCSS</h2>

            <!-- Iconos -->
            <IconsFooter />
        </div>
    </div>
</header>
