<div class="bg-orange-600 w-full p-14">
    <div class="relative">
        <div class="absolute w-full flex justify-end -right-6 top-100">
            <div
                class="inline-block w-24 h-24 border-16 border-t-transparent border-r-yellow-300 border-b-yellow-300 border-l-transparent -rotate-45 rounded-full"
            >
            </div>
        </div>
    </div>
    <h1 class="text-white text-5xl md:text-6xl font-bold text-center md:text-left">Aprende a generar</h1>
    <div class="relative">
        <span
            class="rounded-l-full rounded-r-full p-4 mt-3 bg-blue-500 text-white text-5xl md:text-6xl font-bold absolute"
            >oportunidades</span
        >
    </div>
    <p class="text-white mt-36 px-8 md:text-2xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quam
        veniam expedita nesciunt ipsum ab accusamus quos qui quibusdam nobis
        eligendi accusantium omnis nostrum, tempora voluptate minus at sapiente
        earum. Velit delectus vel adipisci voluptates perspiciatis dolore cum
        cupiditate illo quisquam, hic obcaecati deserunt ad, et porro pariatur
        perferendis doloribus quae iste, nam amet possimus accusamus dolor?
        Asperiores, accusantium neque! Labore numquam eligendi nostrum eveniet
        distinctio nobis quidem officiis deserunt velit aliquid dignissimos eius
        cum animi vel minus culpa tempora harum ipsam consequatur veniam, dicta
        fugiat, similique ea. Nulla, laboriosam.
    </p>

    <button
        class="flex bg-white text-yellow-500 pl-4 pr-1 py-1 mt-10 text-2xl md:text-3xl rounded-l-full rounded-r-full"
        type="button"
    >
        Ver detalles
        <span
            class="rounded-l-full rounded-r-full w-14 justify-center inline-flex bg-blue-500 text-black p-1 items-center ml-4"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
        </span>
    </button>
</div>
