<div class="bg-gray-100 pl-20 pr-16 pt-20 pb-16 w-full flex flex-col gap-16 lg:flex-row">
    <div class="relative rounded-l-full rounded-r-full bg-blue-500 px-4 py-6 lg:w-full">
        <h2 class="font-bold text-2xl text-center text-white">
            Descripción del Voluntariado
        </h2>
        <div class="absolute -top-6 -left-6">
            <div
                class="w-32 h-32 border-16 border-b-transparent border-l-blue-500 border-t-transparent border-r-transparent rotate-45 rounded-full"
            >
            </div>
        </div>
    </div>
    <div class="relative rounded-l-full rounded-r-full bg-blue-500 px-4 py-6 lg:w-full">
        <h2 class="font-bold text-2xl text-center text-white">
            Objetivos y beneficios
        </h2>
        <div class="absolute -top-6 -left-6">
            <div
                class="w-32 h-32 border-16 border-b-transparent border-l-blue-500 border-t-transparent border-r-transparent rotate-45 rounded-full"
            >
            </div>
        </div>
    </div>
    <div class="relative rounded-l-full rounded-r-full bg-blue-500 px-4 py-6 lg:w-full">
        <h2 class="font-bold text-2xl text-center text-white">
            Paises participantes
        </h2>
        <div class="absolute -top-6 -left-6">
            <div
                class="w-32 h-32 border-16 border-b-transparent border-l-blue-500 border-t-transparent border-r-transparent rotate-45 rounded-full"
            >
            </div>
        </div>
    </div>
</div>
