---
const oportunities = [{ title: "Diseño Gráfico Conceptual para Web" }];
---

<div class="w-full lg:container mx-auto">
    <div class="flex justify-end w-full right-6">
        <h2 class="text-4xl md:text-5xl text-right font-bold w-[50%] p-6">
            Explora las oportunidades disponibles
        </h2>
    </div>
    <div class="grid grid-cols-2 gap-8 p-6">
        <div class="rounded-l-full rounded-r-full bg-blue-500 p-8 text-white">
            <h3 class="text-xl font-bold md:text-2xl">
                Diseño Gráfico Conceptual para Web
            </h3>
            <p class="text-xs md:text-sm">Lorem ipsum, dolor sit amet consectetur</p>
            <p class="font-bold text-xs md:text-md">Ver la oportunidad en el sitio UNV</p>
        </div>
        <div class="rounded-l-full rounded-r-full bg-blue-500 p-8 text-white">
            <h3 class="text-xl font-bold md:text-2xl">
                Diseño Gráfico Conceptual para Web
            </h3>
            <p class="text-xs md:text-sm">Lorem ipsum, dolor sit amet consectetur</p>
            <p class="font-bold text-xs md:text-md">Ver la oportunidad en el sitio UNV</p>
        </div>
        <div class="rounded-l-full rounded-r-full bg-blue-500 p-8 text-white">
            <h3 class="text-xl font-bold md:text-2xl">
                Diseño Gráfico Conceptual para Web
            </h3>
            <p class="text-xs md:text-sm">Lorem ipsum, dolor sit amet consectetur</p>
            <p class="font-bold text-xs md:text-md">Ver la oportunidad en el sitio UNV</p>
        </div>
        <div class="rounded-l-full rounded-r-full bg-blue-500 p-8 text-white">
            <h3 class="text-xl font-bold md:text-2xl">
                Diseño Gráfico Conceptual para Web
            </h3>
            <p class="text-xs md:text-sm">Lorem ipsum, dolor sit amet consectetur</p>
            <p class="font-bold text-xs md:text-md">Ver la oportunidad en el sitio UNV</p>
        </div>
    </div>
</div>
